/*
Reset Stylesheet
v1.6.1
Last Updated: 2020-006-17
Author: John Baptista (Adapted from Richard Clark - http://richclarkdesign.com)
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
	background-color:#16161d;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

/* End of Reset Stylesheet */

@font-face
{
	src: url(fonts/OpenSans-ExtraBold.ttf);
	font-family: OpenSans-ExtraBold;

	src: url(fonts/OpenSans-Bold.ttf);
	font-family: OpenSans-Bold;

	src: url(fonts/OpenSans-Regula.ttf);
	font-family: OpenSans;

	src: url(fonts/OpenSans-Light.ttf);
	font-family: OpenSans-Light;
}


#title
{
	color:white;
	font-family: OpenSans, Arial;
	font-weight: 400;
	font-size: 60px;
	text-align: center;
	letter-spacing: 1px;

}

#test
{
	color:red;
	font-family: OpenSans-Light, Arial;
	font-weight: 100;
	font-size: 24px;
	text-align: justify;
	line-height: normal;
}


nav
{
	width:auto;
	height: 60px;
	background-color: #1e1d26
}

h2
	{
		color:white;
		font-family: OpenSans-Light, Arial;
		font-weight: 100;
		font-size: 24px;
		text-align: center;
		line-height: normal;
	}

div
{
	color:white;
	font-family: OpenSans-Light, Arial;
	font-size: 36px;
	text-align: center;

}

.descWrapper
{
	margin: 40px auto 40px auto;
}

.wrapper
{
	margin: 20px auto 20px auto;
	width: 80%;
}

.toc
{
	color:white;
	font-family: OpenSans-Light, Arial;
	font-weight: 100;
	font-size: 24px;
	text-align: center;
	list-style: none;
	text-align: left;

	display: block;
	list-style: none;
	display: inline-block;
	line-height: 50px;
	padding: 0 20px;
}
